annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
certifi==2023.11.17
distro==1.9.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
hydra-core
idna==3.6
litellm
numpy
omegaconf==2.3.0
packaging==23.2
pydantic==2.5.3
pydantic_core==2.14.6
PyYAML==6.0.1
scipy
sniffio==1.3.0
tqdm
typing_extensions
tiktoken
numba
networkx
joblib
requests
flask
autopep8
scikit-learn
tree-sitter
torch
transformers
radon